.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 85vh;
  padding: 0 2rem;
  background: #393e46; /* Optional: Light background color */
}

.hero-content {
  text-align: right;
  flex: 1;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: white;
}

.hero-content p {
  font-size: 1.2rem;
  color: #fdd2b1;
}

.hero-photo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-photo img {
  width: 350px; /* Adjust size */
  height: 350px; /* Adjust size */
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Optional: Adds shadow */
}
